body {
  overflow-x: hidden;
}

.modal-wrapper {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--overlay);
}

.modal-wrapper .modal {
  width: min(59rem, 90%);
  margin: auto;
  background-color: var(--white);
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 6.4rem;
}

.modal-wrapper .modal h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  color: var(--black);
}

.modal-wrapper .modal p {
  margin-bottom: 2.4rem;
  color: var(--grey-dark);
}

.modal-wrapper .modal input {
  margin-bottom: 4rem;
  padding: 1.3rem 1.6rem;
  border: 0.2rem solid var(--blue);
  outline: none;
  width: min(70%, 30.2rem);
}

.modal-wrapper .modal input:focus {
  border-color: var(--overlay);
}

.modal-wrapper .modal .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper .modal .buttons > .button {
  margin-right: 0.8rem;
}

.modal-wrapper .modal .buttons > .button,
.modal-wrapper .modal .buttons > button {
  padding: 1.3rem 3.2rem;
}
